.container {
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(90, 190, 137, 1) 0%,
    rgba(37, 181, 189, 1) 50%,
    rgba(66, 138, 201, 1) 100%
  );
  color: white;

  .fluidContainer {
    height: 100%;
  }
  .row {
    height: 100%;
  }
  .col {
    height: 100%;
  }

  .leftContainer {
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    flex: 1;

    h2 {
      font-weight: 700;
      font-size: 3.5rem;
      margin-bottom: 0.2rem;
    }

    p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }

    .button {
      background-color: white;
      border-color: transparent;
      color: black;
      font-weight: 600;
      padding: 0.5rem 2rem;
    }
  }
  .rightContainer {
  }
}
